@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
*,
::after,
::before {
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 16px;
  color: #333;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  margin: 0 1rem;
}

li {
  margin: 0rem 0.2rem;
}

.logo {
  height: 4rem;
  margin: 10px;
}

.isdicoders {
  object-fit: cover;
  width: 100%;
  height: 500px;
}

figure {
  position: relative;
}

figcaption {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

h1 {
  background-color: black;
  color: white;
  font-size: 32px;
  width: 20rem;
  padding: 1rem;
}

h2 {
  font-size: 35px;
  padding: 1rem;
  margin-left: 10%;
}

article {
  position: relative;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 370px;
  height: 9rem;
  padding: 10px 20px 1rem 1rem;
  background-color: #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
}

h3 {
  font-size: 24px;
  margin: 10px 0;
}
